* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual h2 {
  padding: 20px 0 0 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.main-item {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  margin-bottom: 30px;
}